@use "@angular/material" as mat;

@include mat.core();

$my-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$blue-palette,
        ),
        typography: (
            brand-family: '"Montserrat", "Helvetica Neue", Arial, sans-serif',
            plain-family: '"Montserrat", "Helvetica Neue", Arial, sans-serif',
        ),
    )
);

:root {
    @include mat.all-component-themes($my-theme);
}

//reset styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    background-color: #fafafa;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}
